@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
}

body {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

/*--- VARIABLES ---------*/
:root {
  --main-bg-color: #434343;
  --nav-title-color: #56c2ff;
  --nav-title-color-light: #56c2ff7d;
  --nav-text-color: #d2d2d2;
}
