.container {
  display: inline-block;
  min-height: 100vh;
  background-color: var(--main-bg-color);
  color: var(--nav-title-color);
  position: relative;
}

.title {
  font-size: 2.7rem;
  text-align: center;
  padding-top: 3.8rem;
}

.hr {
  border: 1px solid var(--nav-title-color-light);
  max-width: 24.2rem;
  margin: 4rem auto 0 auto;
}

.search_footer_wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
}
